<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <!-- <pattern>%-5level %logger{5}.%M - %mdc %msg %n</pattern> -->
          <!-- <pattern class="ch.qos.logback.classic.PatternLayout"> -->
              <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %mdc - %msg %n</pattern> -->
            <!-- following is due to https://stackoverflow.com/a/75558660/13555389 -->
              <pattern>%magenta(%d{HH:mm:ss.SSS}) %highlight([%thread]) %-5level [userId: %X{userId}] %cyan(%logger{36}) %mdc - %blue(%msg%n)</pattern>

              <charset>UTF-8</charset>
      </encoder>
  </appender>

  <!-- Console output log level -->
  <!-- <root level="INFO"> -->
  <root level="INFO">
  <!-- <root level="OFF"> -->

      <!-- <appender-ref ref="GELF" /> -->
      <appender-ref ref="STDOUT" />
  </root>

</configuration>