<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <pattern>%-5level %logger{5}.%M - %mdc %msg %n</pattern>
          <charset>UTF-8</charset>
      </encoder>
  </appender>

  <!-- Console output log level -->
  <root level="INFO">
      <!-- <appender-ref ref="GELF" /> -->
      <appender-ref ref="STDOUT" />
  </root>

</configuration>